* {
  margin: 0;
}

body {
  background-color: white;
}

.border {
  border: 1px solid #777;
  border-radius: 3px;
}

main {
  width: fit-content;
  margin: 1rem auto;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 125px;
  background-color: orange;
}

.dialog > p,
input {
  margin-bottom: 1rem;
}

.leaderboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 550px;
  height: 580px;
  background-color: orange;
}

.leaderboard > p {
  margin-bottom: 0.3rem;
}

.leaderboard > table {
  background-color: white;
  border-collapse: collapse;
  width: 90%;
}

.leaderboard > table,
th,
td {
  border: 1px solid #777;
}

.paginator {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.3rem;
}

.paginator > a {
  text-decoration: underline;
  cursor: pointer;
}

.paginator > a:hover {
  color: #777;
}
